<div class="row">
  <div class="col col-4 col-sm">
      <h6>Feature</h6>
      <q-select :options="features" v-model="feature"></q-select>
  </div>
  <div class="col col-4 col-sm">
      <h6>Group Method</h6>
      <q-radio label="Quantities" v-model="groupmethod" val="quantiles"></q-checkbox>
      <q-radio label="Linear" v-model="groupmethod" val="linear"></q-checkbox>
  </div>
  <div class="col col-4 col-sm">
      <h6>Sample Size</h6>
      <q-slider v-model="sample_size" :min="10" :max="100"></q-slider>
  </div>
  <div class="col col-4 col-sm">
      <h6>New Sampling</h6>
      <q-btn color="secondary" label="RESAMPLE" @click="resample=true"></q-btn>
  </div>
</div>
<div class="row">
  <div class="col col-6 col-sm">
      <h6>One-way effect</h6>
      <plotly :data="one_way_traces" :layout="one_way_traces"></plotly>
  </div>
  <div class="col col-6 col-sm">
      <h6>Feature Effect</h6>
      <plotly :data="shap_effect_traces" :layout="shap_effect_traces"></plotly>
  </div>
</div>
<div class="row">
  <div class="col col-6 col-sm">
      <h6>Flux explain</h6>
      <plotly :data="explain_flux_traces" :layout="explain_flux_traces"></plotly>
  </div>
  <div class="col col-6 col-sm">
      <h6>GBT explain</h6>
      <plotly :data="explain_gbt_traces" :layout="explain_gbt_traces"></plotly>
  </div>
</div>
<div v-if="isready" class="row">
  <div class="col col-6 col-sm">
      <h6>Flux feature importance</h6>
      <plotly :data="hist_flux_traces" :layout="hist_flux_traces"></plotly>
  </div>
  <div class="col col-6 col-sm">
      <h6>GBT feature importance</h6>
      <plotly :data="hist_gbt_traces" :layout="hist_gbt_traces"></plotly>
  </div>
</div>