/* place your custom css here */

.col {
    box-shadow: 0 4px 8px 0 rgba(97, 2, 2, 0.2);
    padding: 16px;
    text-align: center;
    border-radius: 5%;
    background-color: #dedcdc;
}

.stipple-core .q-slider__track-container {
    background-color: transparent !important;
}